{{ define "main" }}
  <div class="reveal">
    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
      <!-- Find all pages with a type of reveal -->
      {{ range (where .Data.Pages "Type" "reveal") }}
        <!-- Split the processed content by <hr /> tag -->
        {{ range (split .Content "<hr />") }}
          <!-- Output the content as safe  -->
          <section>{{ . | safeHTML }}</section>
        {{ end }}
      {{ end }}
    </div>
  </div>
{{ end }}
